// Color scheme -----------------------------------

@dbg: #212D2C; // Dark background
@dhl: #313D3C; // Dark highlight
@dt2: #616D6C; // Dark bg text secondary
@dt1: #919D9C; // Dark bg text primary

@lbg: #FCFAF9; // Light background
@lhl: #ECEAE9; // Light highlight
@lt2: #9C9A99; // Light bg text secondary
@lt1: #5C5A59; // Light bg text primary

@red: #B95846; // Red
@ora: #A87226; // Orange
@yel: #A89641; // Yellow
@gre: #669824; // Green

@cya: #48A597; // Cyan
@blu: #3D8CAD; // Blue
@vio: #9166AB; // Violet
@mag: #BB7EAA; // Magenta

// Visual order -----------------------------------

@primary1: @vio;
@primary2: @red;
@primary3: @cya;

@secondary1: @blu;
@secondary2: @ora;

@tertiary1: @gre;
@tertiary2: @yel;
@tertiary3: @mag;

// Theme variant ----------------------------------

@text1: @lt1; // text primary
@text2: @lt2; // text secondary
@syntax-bg: @lbg; // background
@syntax-guide: @lhl; // background highlight

// Atom Base vars ---------------------------------

@syntax-fg: @text1; // text primary
@syntax-accent: @tertiary1; // cursor, markdown preview links, etc.
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
